.tim-row{
    margin-bottom: 20px;
}

.tim-white-buttons {
    background-color: #777777;
}
.typography-line{
    padding-left: 25%;
    margin-bottom: 35px;
    position: relative;
    display: block;
    width: 100%;
}
.typography-line span{
    bottom: 10px;
    color: #c0c1c2;
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    left: 0;
    position: absolute;
    width: 260px;
    text-transform: none;
}
.tim-row{
    padding-top: 60px;
}
.tim-row h3{
    margin-top: 0;
}

.offline-doc .page-header{
  display: flex;
  align-items: center;
}

.offline-doc .footer{
  position: absolute;
  width: 100%;
  background: transparent;
  bottom: 0;
  color: #fff;
  z-index: 1;
}
.sidebar .nav > li.active-pro{
    position: absolute;
    width: 100%;
    bottom: 10px;
}
.sidebar .nav > li.active-pro a{
    background: rgba(255, 255, 255, 0.14);
    opacity: 1;
    color: #FFFFFF;
}

/* costum style */

input, select {
    border-radius: 0 !important;
}

textarea {
    border: 1px solid #E3E3E3 !important;
}

.cursor-pointer {
    cursor: pointer;
}

/* client */

* {
    margin: 0;
    padding: 0;
}

.navbar-client {
    position: absolute;
    z-index: 1000;
    width: 100%;
}

::-webkit-scrollbar {
    width: 2px;
}
::-webkit-scrollbar-thumb {
    background: #009FFF; 
}

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

.height-full {
    height: 100vh;
}
.bg-all {
    background: #fdfdfd;    
}

.bg-home {
    background: #009FFF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #009FFF, #17a5f3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #009FFF, #17a5f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    text-align: center;
    align-items: center;
    align-content: center;
    vertical-align: middle; 
}

.font-yellow {
    color: rgba(253, 252, 71, 0.9);
}

.font-grey {
    color : #c1c1c1;
}

.login {
    padding: 25vh 0 0 50px;
}

.text-head {
    font-size: 36px;
    width: 60%;
    color: #6b6767;
}

.text-subhead {
    width: 60%;
}

.form-login {
    padding: 24px 0 24px 0;
}

.wrap-input {
    width: 75%;
    border: 2px #f7f7f7 solid;
    padding: 0px 8px 8px 8px;
    border-left: 3px solid #f7ff00;
    background-color: #fff;
}

.wrap-input:not(:first-of-type), .wrap-input-full:not(:first-of-type) {
    border-top: none;
}

.wrap-input-full {
    width: 100%;
    border: 2px #f7f7f7 solid;
    padding: 0px 8px 8px 8px;
    border-left: 3px solid #f7ff00;
    background-color: #fff;
}

.label-input {
    padding: 0;
    margin: 0;
    font-size: 12px;
    line-height: 12px;
    color: #dcdcdc;
    font-weight: 600;
}

.form-input {
    border-color: white;
    border-radius: 0;
    font-weight: 600;
    padding: 0 6px;
    border: none;
    line-height: 3;
    transition: none;
    color: #969292;
    background-color: #fff;
}
.form-input:focus {
    outline: none;
    box-shadow: none;
}


.wrap-button {
    text-align: right;
    width: 75%;
}

.btn-login {
    background-color: #009FFF; 
    border-radius: 2px;
    width: 100px;
    font-weight: 500;
    color: white;
}

.card-costum {
    width: 250px;
    height: 250px;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    display: inline-block;
    background-color: #f7ff00;
    border-radius: 10px;
    margin: 40vh auto;
    box-shadow: 0px 0px 20px 1px #FFF;
}

.card-costum img {
    display: inline-block;
    margin: 25px auto;
}

.wrap-head { 
    text-align: center;
    border: 2px #f7f7f7 solid;
    padding: 8px;
    border-left: 4px solid #f7ff00;
    background-color: #fff;
}

.card {
    border-radius: 0;
}

.border-left-color-red {
    border-left-color: #dd1818;
}

.border-left-color-yellow {
    border-left-color: #f7ff00;
}

.border-left-color-green {
    border-left-color: #1E9600;
}

.border-left-color-blue {
    border-left-color: #009FFF;
}

.card .card-body .btn {
    border-radius: 0;
}

.table-tagihan td, .table-tagihan th {
    border: none;
    padding: 4px;
}

.wrap-content .card {
    margin-bottom: 8px;
}
